services:
  cockroachdb:
    image: cockroachdb/cockroach:v24.3.0
    command: start-single-node --insecure
    ports:
      - "26257:26257"
      - "8081:8080"
    volumes:
      - cockroach-data:/cockroach/cockroach-data
volumes:
  cockroach-data:
